<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
<body>
  <h1>Sample App <%= yield(:title) %> Page</h1>
  <p>
    This is the <%= yield(:title).downcase %> page for this sample app.
  </p>
</body>
</html>